<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amazon\Login\Api\Data\CustomerLinkInterface" type="Amazon\Login\Model\CustomerLink" />
    <preference for="Amazon\Login\Api\CustomerManagerInterface" type="Amazon\Login\Model\CustomerManager" />
    <preference for="Amazon\Login\Api\Customer\CompositeMatcherInterface" type="Amazon\Login\Model\Customer\CompositeMatcher" />
    <preference for="Amazon\Login\Api\Customer\EmailMatcherInterface" type="Amazon\Login\Model\Customer\EmailMatcher" />
    <preference for="Amazon\Login\Api\Customer\IdMatcherInterface" type="Amazon\Login\Model\Customer\IdMatcher" />
    <preference for="Amazon\Login\Api\Customer\SessionMatcherInterface" type="Amazon\Login\Model\Customer\SessionMatcher" />
    <type name="Amazon\Login\Api\Customer\CompositeMatcherInterface">
        <arguments>
            <argument name="matchers" xsi:type="array">
                <item name="sessionmatcher" xsi:type="object">Amazon\Login\Api\Customer\SessionMatcherInterface</item>
                <item name="idmatcher" xsi:type="object">Amazon\Login\Api\Customer\IdMatcherInterface</item>
                <item name="emailmatcher" xsi:type="object">Amazon\Login\Api\Customer\EmailMatcherInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="amazon_login_customer_repository" type="Amazon\Login\Plugin\CustomerRepository" sortOrder="1" />
    </type>
    <type name="Magento\Customer\Model\ResourceModel\Customer\Collection">
        <plugin name="amazon_login_customer_collection" type="Amazon\Login\Plugin\CustomerCollection" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Controller\Cart\Index">
        <plugin name="amazon_login_cart_controller" type="Amazon\Login\Plugin\CartController" sortOrder="1" />
    </type>
    <type name="Amazon\Login\Controller\Login\Guest">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Amazon\Login\Helper\Session">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\OrderCustomerManagementInterface">
        <plugin name="amazon_login_order_customer_service" type="Amazon\Login\Plugin\OrderCustomerManagement" sortOrder="1" />
    </type>
    <type name="Magento\Customer\Model\Session">
        <plugin name="amazon_login_customer_session" type="Amazon\Login\Plugin\CustomerSession" sortOrder="1" />
    </type>
</config>
